<mat-toolbar color="primary" class="mat-elevation-z4">
  <button mat-button [routerLink]="['/']" class="title">
    <span>{{ dashboard }} | {{ projectName }}</span>
  </button>
  <span class="header-spacer"></span>
  <a
    *ngIf="!externalLink.disabled"
    [href]="externalLink.path"
    target="_blank"
    class="live-cam-link"
  >{{ externalLink.name }}</a>
  <button mat-icon-button class="cam-icon" (click)="openLiveCam()" *ngIf="!externalLink.disabled">
    <mat-icon aria-hidden="false" aria-label="Live Cameras" >linked_camera</mat-icon>
  </button>
  <button mat-icon-button (click)="openTeams()" class="feedbackLink-icon" *ngIf="!feedbackLink.disabled">
    <mat-icon aria-hidden="false" aria-label="Feedback">feedback</mat-icon>
  </button>
  <button *ngIf="darkMode" mat-icon-button (click)="changeTheme('deltalax-light-theme')">
    <mat-icon aria-hidden="false" aria-label="Light theme">wb_sunny</mat-icon>
  </button>
  <button *ngIf="!darkMode" mat-icon-button (click)="changeTheme('deltalax-dark-theme')">
    <mat-icon aria-hidden="false" aria-label="Dark theme">brightness_3</mat-icon>
  </button>
</mat-toolbar>
