<table mat-table class="item-thumb-drawing" [dataSource]="drawingItems" (mouseleave)="emitDrawingItemHover(null)">
    <!-- Sheet Type Column -->
    <ng-container matColumnDef="sheet_type">
      <th mat-header-cell *matHeaderCellDef>SHEET TYPE</th>
      <td mat-cell *matCellDef="let drawingItem">
        <div class="circle icon-drawing-{{ drawingItem.sheet_type_id }}">
          <div class="circle-inner">
            {{ getSheetTypeShort(drawingItem.sheet_type) }}
          </div>
        </div>
      </td>
    </ng-container>

    <!-- Drawing Number Column -->
    <ng-container matColumnDef="drawing_number">
      <th mat-header-cell *matHeaderCellDef>DRAWING NUMBER</th>
      <td mat-cell *matCellDef="let drawingItem">{{ drawingItem.drawing_number }}</td>
    </ng-container>

    <!-- Drawing Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>DRAWING TITLE</th>
      <td mat-cell *matCellDef="let drawingItem">{{ drawingItem.title }}</td>
    </ng-container>

    <!-- geoData1 Column -->
    <ng-container matColumnDef="geoData1">
      <th mat-header-cell *matHeaderCellDef>{{ geoDataTypes.geoData1.toUpperCase() }}</th>
      <td mat-cell *matCellDef="let drawingItem">{{ drawingItem.geodata[geoDataTypes.geoData1] }}</td>
    </ng-container>

    <!-- Level Column -->
    <ng-container matColumnDef="level_number">
      <th mat-header-cell *matHeaderCellDef>LEVEL</th>
      <td mat-cell *matCellDef="let drawingItem">{{ drawingItem.level_number }}</td>
    </ng-container>

    <!-- Phase Column -->
    <ng-container matColumnDef="phase">
      <th mat-header-cell *matHeaderCellDef>PHASE</th>
      <td mat-cell *matCellDef="let drawingItem">{{ drawingItem.phase }}</td>
    </ng-container>

    <!-- Discipline Column -->
    <ng-container matColumnDef="discipline">
      <th mat-header-cell *matHeaderCellDef>DISCIPLINE</th>
      <td mat-cell *matCellDef="let drawingItem">{{ drawingItem.discipline.join(', ') }}</td>
    </ng-container>

    <!-- Time Column -->
    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef>DATE & TIME</th>
      <td mat-cell *matCellDef="let drawingItem">{{ drawingItem.time | date: "medium" }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"
      (mouseenter)="emitDrawingItemHover(null)"></tr>
    <tr mat-row *matRowDef="let drawingItem; columns: columnsToDisplay" class="item-thumb-drawing-row"
      (click)="selectItem(drawingItem)"
      (mouseenter)="emitDrawingItemHover(drawingItem.geodata[geoDataTypes.geoData2])"></tr>
  </table>
