.mat-tab-label {
  color: rgb(102, 102, 102);
  font-size: 20px;
  font-weight: normal;
}

.right-panel-card {
  height: calc(100% - 64px); /* 16px padding from mat card + 48px for tabs */
  padding-top: 0;
  padding-right: 5;
  padding-bottom: 5;
}
