<div class="landing-page">
  <div class="image-layer"></div>
  <div class="transparent-layer">
  <div >
    <h1 class="title">{{ dashboard }} | {{ projectName }}</h1>
  </div>
  <div>
    <button mat-raised-button class="enter-portal" (click)="enterPortal()">
      Enter Portal
    </button>
    <div class="text">
      <p>Arup | Advanced Digital Engineering</p>
      <p>
        Arup is an independent firm of designers, planners, engineers, consultants <br />
        and technical specialists offering a broad range of professional services.  <br />
        Through our work we make a positive difference in the world.
      </p>
      </div>
    </div>
  </div>
</div>
