.item-type {
  float: left;
  padding-top: 15px;
  width: 160px;
}

.mat-form-field {
  width: 160px;
}

item-select-xs {
  width: 140px;
}

@media only screen and (max-width: 959px) {
  .item-select-xs {
    width: 70px;
  }
}
