.ca-title {
  color: rgb(140, 140, 140);
  font-size: 11.5px;
  vertical-align: middle;
}

table .item-thumb-ca th {
  text-align: center;
  padding-left: 20px !important;
  padding-right: 20px;
}

th.mat-header-cell:last-of-type {
  text-align: center !important;
}

tr.item-thumb-ca-row > td {
  padding-left: 20px;
  padding-right: 20px;
}

.item-thumb-ca-row .circle {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.item-thumb-ca-row .circle .circle-inner {
  font-size: 11pt;
  font-weight: 700;
  color: white;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 40px;
  height: 40px;
}

.circle.icon-ca-rfi {
  background-color: #8F98E5;

}
.circle.icon-ca-submittal {
  background-color: #da750180;
}

th {
  font-size: 11px;
}

td {
  font-size: 13px;
}
