$delta-purple: (
    50 : #e8e8ee,
    100 : #c6c6d6,
    200 : #a1a0ba,
    300 : #7b7a9e,
    400 : #5e5e8a,
    500 : #424175,
    600 : #3c3b6d,
    700 : #333262,
    800 : #2b2a58,
    900 : #1d1c45,
    A100 : #8a87ff,
    A200 : #5954ff,
    A400 : #2721ff,
    A700 : #0e08ff,
    contrast: (
        50 : #000000,
        100 : rgba(255, 255, 255, 0.25),
        200 : #000000,
        300 : #ffffff,
        400 : rgba(255, 255, 255, 0.5),
        500 : rgba(0, 0, 0, .25),
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : rgba(0, 0, 0, .5),
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$delta-pink: (
    50 : #f9e6ef,
    100 : #f1bfd8,
    200 : #e895be,
    300 : #df6ba4,
    400 : #d84b91,
    500 : #d12b7d,
    600 : #cc2675,
    700 : #c6206a,
    800 : #c01a60,
    900 : #b5104d,
    A100 : #ffe4ed,
    A200 : #ffb1cb,
    A400 : #ff7ea8,
    A700 : #ff6497,
    contrast: (
        50 : #000000,
        100 : rgba(255, 255, 255, 0.25),
        200 : #000000,
        300 : #000000,
        400 : rgba(255, 255, 255, 0.5),
        500 : rgba(0, 0, 0, .25),
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : rgba(0, 0, 0, .5),
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : rgb(75, 75, 75),
    )
);

$delta-green: (
    50 : #e5f5ee,
    100 : #bfe7d5,
    200 : #94d7b9,
    300 : #69c79d,
    400 : #48bb88,
    500 : #28af73,
    600 : #24a86b,
    700 : #1e9f60,
    800 : #189656,
    900 : #0f8643,
    A100 : #b8ffd4,
    A200 : #85ffb5,
    A400 : #52ff96,
    A700 : #38ff87,
    contrast: (
        50 : #000000,
        100 : rgba(255, 255, 255, 0.25),
        200 : #000000,
        300 : #000000,
        400 : rgba(255, 255, 255, 0.5),
        500 : rgba(0, 0, 0, .25),
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : rgba(0, 0, 0, .5),
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
